.comments_adding_container
{
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 10px;

    margin-bottom: 30px;
}

.comments_adding_container textarea
{
    display: flex;
    flex-direction: column;

    padding: 15px;
    border-radius: 5px;

    background: rgba(255, 255, 255, 0.25);
    border-color: rgba(22, 22, 26, 0.15);
    color: #fff;

    width: 550px;
    height: 150px;

    resize: none;

    font-size: 20px;
}


.comments_adding_container textarea:focus
{
    background: var(--background);
    outline: solid 2px var(--primaryBtn);
}