@import './utilities/css/Colors.css';
body
{
  margin: 100px 50px 0 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: white;
}

h1, h2, h3, h4
{
  color: var(--headline);
}

.swiper-button-next, .swiper-button-prev
{
  color: var(--primaryBtn) !important;
}

.swiper-pagination-bullet-active
{
  background: var(--primaryBtn) !important;
}

.swiper-pagination-bullet
{
  background: var(--primaryBtnHover) !important;
}

.CircularProgressbar-text
{
  transform: translate(0, 3px);

  font-weight: bold;
}


